.photo__detail {
  min-height: 85vh;
  margin: 50px 0;
}

.left__side {
  order: 2;
}

.left__side span {
  color: #a39f9f;
  font-size: 14px;
}

.right__side {
  padding: 16px;
}

.right__side img {
  height: 460px;
}

.photo__heatmap {
  height: 85vh;
  margin: 42px 0;
}

.heatmap__left {
  height: 30px;
  width: 80%;
  background: #d0d0d0;
  border-radius: 10px;
}

.heatmap__date {
  margin-top: 10px;
  height: 15px;
  width: 50%;
  background: #d0d0d0;
  border-radius: 10px;
}

.heatmap__image {
  border-radius: 16px;
  padding: 16px;
  height: 460px;
  background: #d0d0d0;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .photo__detail {
    min-height: 85vh;
    margin: 50px 0;
  }

  .left__side {
    order: 1;
  }

  .left__side span {
    color: #a39f9f;
    font-size: 14px;
  }

  .right__side {
    padding: 16px;
    order: 2;
  }

  .right__side img {
    border-radius: 16px;
    height: 460px;
  }

  .photo__heatmap {
    height: 85vh;
    margin: 42px 0;
  }

  .heatmap__left {
    height: 30px;
    width: 80%;
    background: #d0d0d0;
    border-radius: 10px;
  }

  .heatmap__date {
    margin-top: 10px;
    height: 15px;
    width: 50%;
    background: #d0d0d0;
    border-radius: 10px;
  }

  .heatmap__image {
    border-radius: 16px;
    padding: 16px;
    height: 460px;
    background: #d0d0d0;
  }
}

@media screen and (min-device-width: 1024px) {
  .photo__detail {
    min-height: 85vh;
    margin: 50px 0;
  }

  .left__side {
    order: 1;
  }

  .left__side span {
    color: #a39f9f;
    font-size: 14px;
  }

  .right__side {
    padding: 16px;
    order: 2;
  }

  .right__side img {
    border-radius: 16px;
    height: 460px;
  }

  .photo__heatmap {
    height: 85vh;
    margin: 42px 0;
  }

  .heatmap__left {
    height: 30px;
    width: 80%;
    background: #d0d0d0;
    border-radius: 10px;
  }

  .heatmap__date {
    margin-top: 10px;
    height: 15px;
    width: 50%;
    background: #d0d0d0;
    border-radius: 10px;
  }

  .heatmap__image {
    border-radius: 16px;
    padding: 16px;
    height: 460px;
    background: #d0d0d0;
  }
}
